<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" data-spy="affix" style="position:sticky">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary" >
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4" >
                <h1><a href="index.html" class="logo">Bug Tracker<span>for DevTeams</span></a></h1>
                <ul class="list-unstyled components mb-5" data-spy="affix">
                    <li class="nav-item">
                        <span class="fa fa-home mr-3"></span> @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="nav-item">
                        <span class="fa fa-user mr-3"></span>@Html.ActionLink("Dashboard", "Dashboard", "Home")
                    </li>
                    <li class="nav-item">
                        <span class="fa fa-briefcase mr-3"></span>@Html.ActionLink("View Bugs", "ViewBugs", "Home")
                    </li>
                    <li class="nav-item">
                        <span class="fa fa-briefcase mr-3"></span>@Html.ActionLink("New Bug Report", "CreateIssue", "Home")
                    </li>
                    
                </ul>
                
                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </nav>
        <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4">Sidebar #05</h2>
             @RenderBody()
        </div>

    </div>             
                      
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
